<section class="bg-gray-900 border-gray-600">
    <div class="h-screen max-w-screen-xl flex flex-col justify-center mx-auto">
        <h2 class="dark:text-pink-600 font-mono text-lg">Hola! Mi nombre es</h2>
        <h1 class="pt-4 text-white font-calibre text-5xl font-bold">STALIN CHIGUANO.</h1>
        <h1 class="pt-4 text-gray-400 font-calibre text-5xl font-bold">Full Stack Developer</h1>
        <p class="pt-8 text-gray-400 font-calibre w-1/2">
            Me gradué de Ingeniero en Ciencias de la Computación en la Universidad Politécnica Salesiana del Ecuador,
            donde adquirí una sólida formación en ingeniería de software, bases de datos, programación web y diseño de
            interfaces. Me apasiona el desarrollo de software y me especializo en tecnologías como JavaScript,
            TypeScript, React, .NET y SQL, que utilizo para crear aplicaciones web dinámicas, funcionales y seguras. Mi
            objetivo profesional es seguir aprendiendo y creciendo como desarrollador web.
        </p>
        <div>
            <ul class="pt-8 flex flex-col md:flex-row md:space-x-8 dark:text-pink-600">
                <li>
                    <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-github fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>